################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Labweek18- Build and Config/.vs/Labweek18- Build and Config/v15
